<p>send-mail works!</p>

<div class="container">

    <mat-card appearance="outlined" class="transparent-card">
        <mat-card-header>
            <mat-card-title> Australian Shepherd</mat-card-title>
            <mat-card-subtitle>Herding group</mat-card-subtitle>
        </mat-card-header>

    </mat-card>
    <br>



    <!-- <div class="card">

        <div class=" card-body">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Favorite food</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Favorite food</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <p>asdasdadadasdadadadadassda</p>
                </div>
            </div>


        </div>







        <!-- 
        <div class=" card-body">
            <div class="row">
                <div class="col-sm-10">
                    <input type="text" class="form-control shadow-none" placeholder="Enter email id">
                </div>
            </div>


            <div class="col-sm-2">
                <button class="btn btn-primary">Send Mail</button>

            </div>
        </div> -->







    <!-- </div> -->


    -->



</div>